<div
  class="h-full flex flex-col justify-between font-spartan"
  [ngClass]="{ dark: isDarkMode$ | async }"
>
  <div
    class="w-[600px] h-full p-6 rounded-tr-lg rounded-br-lg"
    [ngClass]="{
      'bg-lightBg': !(isDarkMode$ | async),
      'bg-lightText': isDarkMode$ | async
    }"
  >
    <h2
      class="text-2xl font-bold mb-4"
      [ngClass]="{
        'text-lightText': !(isDarkMode$ | async),
        'text-darkSecondary': isDarkMode$ | async
      }"
    >
      <ng-container *ngIf="isEditMode && invoice; else newInvoice">
        Edit <span class="text-lightAccent">#</span>{{ invoice.id }}
      </ng-container>
      <ng-template #newInvoice>New Invoice</ng-template>
    </h2>

    <form
      id="invoice-form"
      [formGroup]="invoiceForm"
      class="flex flex-col gap-4 overflow-y-auto pr-5 custom-scrollbar h-[360px] md:h-[700px]"
    >
      <div class="mb-4">
        <h3
          class="text-xl font-semibold mb-8"
          [ngClass]="{
            'text-lightAccent': !(isDarkMode$ | async),
            'text-darkAccent': isDarkMode$ | async
          }"
        >
          Bill from
        </h3>
        <div class="mb-3">
          <div class="flex justify-between items-center">
            <label
              class="mb-3 block text-sm"
              for="street"
              [ngClass]="{
                'text-lightSecondary':
                  !(
                    invoiceForm.get('street')?.invalid &&
                    invoiceForm.get('street')?.touched
                  ) && !(isDarkMode$ | async),
                'text-lightBg':
                  !(
                    invoiceForm.get('street')?.invalid &&
                    invoiceForm.get('street')?.touched
                  ) && (isDarkMode$ | async),
                'text-red-500':
                  invoiceForm.get('street')?.invalid &&
                  invoiceForm.get('street')?.touched
              }"
            >
              Street Address
            </label>
            <small
              class="error text-red-500"
              *ngIf="
                invoiceForm.get('street')?.invalid &&
                invoiceForm.get('street')?.touched
              "
            >
              can't be empty
            </small>
          </div>
          <input
            class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
            [ngClass]="{
              'border-lightSecondary bg-lightBg text-lightText': !(
                isDarkMode$ | async
              ),
              'border-darkText bg-darkInput text-darkSecondary':
                (isDarkMode$ | async),
              'border-red-500':
                invoiceForm.get('street')?.invalid &&
                invoiceForm.get('street')?.touched
            }"
            type="text"
            formControlName="street"
            [class.invalid]="
              invoiceForm.get('street')?.invalid &&
              invoiceForm.get('street')?.touched
            "
          />
        </div>

        <div class="flex flex-wrap gap-4">
          <div class="flex-1 min-w-[100px] mb-3">
            <div class="flex justify-between items-center">
              <label
                class="text-lightSecondary mb-1 block text-sm"
                [ngClass]="{
                  'text-lightSecondary':
                    !(
                      invoiceForm.get('city')?.invalid &&
                      invoiceForm.get('city')?.touched
                    ) && !(isDarkMode$ | async),
                  'text-lightBg':
                    !(
                      invoiceForm.get('city')?.invalid &&
                      invoiceForm.get('city')?.touched
                    ) && (isDarkMode$ | async),
                  'text-red-500':
                    invoiceForm.get('city')?.invalid &&
                    invoiceForm.get('city')?.touched
                }"
                for="city"
              >
                City
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  invoiceForm.get('city')?.invalid &&
                  invoiceForm.get('city')?.touched
                "
              >
                can't be empty
              </small>
            </div>
            <input
              class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
              [ngClass]="{
                'border-lightSecondary bg-lightBg text-lightText': !(
                  isDarkMode$ | async
                ),
                'border-darkText bg-darkInput text-darkSecondary':
                  (isDarkMode$ | async),
                'border-red-500':
                  invoiceForm.get('city')?.invalid &&
                  invoiceForm.get('city')?.touched
              }"
              type="text"
              formControlName="city"
              [class.invalid]="
                invoiceForm.get('city')?.invalid &&
                invoiceForm.get('city')?.touched
              "
            />
          </div>

          <div class="flex-1 min-w-[100px] mb-3">
            <div class="flex justify-between items-center">
              <label
                class="text-lightSecondary mb-1 block text-sm"
                [ngClass]="{
                  'text-lightSecondary':
                    !(
                      invoiceForm.get('postCode')?.invalid &&
                      invoiceForm.get('postCode')?.touched
                    ) && !(isDarkMode$ | async),
                  'text-lightBg':
                    !(
                      invoiceForm.get('postCode')?.invalid &&
                      invoiceForm.get('postCode')?.touched
                    ) && (isDarkMode$ | async),
                  'text-red-500':
                    invoiceForm.get('postCode')?.invalid &&
                    invoiceForm.get('postCode')?.touched
                }"
                for="postCode"
              >
                Post Code
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  invoiceForm.get('postCode')?.invalid &&
                  invoiceForm.get('postCode')?.touched
                "
              >
                can't be empty
              </small>
            </div>
            <input
              class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
              [ngClass]="{
                'border-lightSecondary bg-lightBg text-lightText': !(
                  isDarkMode$ | async
                ),
                'border-darkText bg-darkInput text-darkSecondary':
                  (isDarkMode$ | async),
                'border-red-500':
                  invoiceForm.get('postCode')?.invalid &&
                  invoiceForm.get('postCode')?.touched
              }"
              type="text"
              formControlName="postCode"
              [class.invalid]="
                invoiceForm.get('postCode')?.invalid &&
                invoiceForm.get('postCode')?.touched
              "
            />
          </div>

          <div class="flex-1 min-w-[100px] mb-3">
            <div class="flex justify-between items-center">
              <label
                class="text-lightSecondary mb-1 block text-sm"
                [ngClass]="{
                  'text-lightSecondary':
                    !(
                      invoiceForm.get('country')?.invalid &&
                      invoiceForm.get('country')?.touched
                    ) && !(isDarkMode$ | async),
                  'text-lightBg':
                    !(
                      invoiceForm.get('country')?.invalid &&
                      invoiceForm.get('country')?.touched
                    ) && (isDarkMode$ | async),
                  'text-red-500':
                    invoiceForm.get('country')?.invalid &&
                    invoiceForm.get('country')?.touched
                }"
                for="country"
              >
                Country
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  invoiceForm.get('country')?.invalid &&
                  invoiceForm.get('country')?.touched
                "
              >
                can't be empty
              </small>
            </div>
            <input
              class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
              [ngClass]="{
                'border-lightSecondary bg-lightBg text-lightText': !(
                  isDarkMode$ | async
                ),
                'border-darkText bg-darkInput text-darkSecondary':
                  (isDarkMode$ | async),
                'border-red-500':
                  invoiceForm.get('country')?.invalid &&
                  invoiceForm.get('country')?.touched
              }"
              type="text"
              formControlName="country"
              [class.invalid]="
                invoiceForm.get('country')?.invalid &&
                invoiceForm.get('country')?.touched
              "
            />
          </div>
        </div>
      </div>

      <div class="mb-8">
        <h3
          class="text-xl font-semibold mb-4"
          [ngClass]="{
            'text-lightAccent': !(isDarkMode$ | async),
            'text-darkAccent': isDarkMode$ | async
          }"
        >
          Bill to
        </h3>

        <div class="mb-3">
          <div class="flex justify-between items-center">
            <label
              class="text-lightSecondary mb-1 block text-sm"
              [ngClass]="{
                'text-lightSecondary': !(isDarkMode$ | async),
                'text-lightBg': isDarkMode$ | async,
                'text-red-500':
                  invoiceForm.get('clientName')?.invalid &&
                  invoiceForm.get('clientName')?.touched
              }"
              for="clientName"
            >
              Client's Name
            </label>
            <small
              class="error text-red-500"
              *ngIf="
                invoiceForm.get('clientName')?.invalid &&
                invoiceForm.get('clientName')?.touched
              "
            >
              can't be empty
            </small>
          </div>
          <input
            class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
            [ngClass]="{
              'border-lightSecondary bg-lightBg text-lightText': !(
                isDarkMode$ | async
              ),
              'border-darkText bg-darkInput text-darkSecondary':
                isDarkMode$ | async,
              'border-red-500':
                invoiceForm.get('clientName')?.invalid &&
                invoiceForm.get('clientName')?.touched
            }"
            type="text"
            formControlName="clientName"
            [class.invalid]="
              invoiceForm.get('clientName')?.invalid &&
              invoiceForm.get('clientName')?.touched
            "
          />
        </div>

        <div class="mb-3">
          <div class="flex justify-between items-center">
            <label
              class="text-lightSecondary mb-1 block text-sm"
              [ngClass]="{
                'text-lightSecondary': !(isDarkMode$ | async),
                'text-lightBg': isDarkMode$ | async,
                'text-red-500':
                  invoiceForm.get('clientEmail')?.invalid &&
                  invoiceForm.get('clientEmail')?.touched
              }"
              for="clientEmail"
            >
              Client's Email
            </label>
            <small
              class="error text-red-500"
              *ngIf="
                invoiceForm.get('clientEmail')?.invalid &&
                invoiceForm.get('clientEmail')?.touched
              "
            >
              A valid email is required
            </small>
          </div>
          <input
            class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
            [ngClass]="{
              'border-lightSecondary bg-lightBg text-lightText': !(
                isDarkMode$ | async
              ),
              'border-darkText bg-darkInput text-darkSecondary':
                isDarkMode$ | async,
              'border-red-500':
                invoiceForm.get('clientEmail')?.invalid &&
                invoiceForm.get('clientEmail')?.touched
            }"
            type="email"
            placeholder="e.g. email@example.com"
            formControlName="clientEmail"
            [class.invalid]="
              invoiceForm.get('clientEmail')?.invalid &&
              invoiceForm.get('clientEmail')?.touched
            "
          />
        </div>

        <div class="mb-3">
          <div class="flex justify-between items-center">
            <label
              class="text-lightSecondary mb-1 block text-sm"
              [ngClass]="{
                'text-lightSecondary': !(isDarkMode$ | async),
                'text-lightBg': isDarkMode$ | async,
                'text-red-500':
                  invoiceForm.get('street')?.invalid &&
                  invoiceForm.get('street')?.touched
              }"
              for="street"
            >
              Street Address
            </label>
            <small
              class="error text-red-500"
              *ngIf="
                invoiceForm.get('street')?.invalid &&
                invoiceForm.get('street')?.touched
              "
            >
              can't be empty
            </small>
          </div>
          <input
            class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
            [ngClass]="{
              'border-lightSecondary bg-lightBg text-lightText': !(
                isDarkMode$ | async
              ),
              'border-darkText bg-darkInput text-darkSecondary':
                isDarkMode$ | async,
              'border-red-500':
                invoiceForm.get('street')?.invalid &&
                invoiceForm.get('street')?.touched
            }"
            type="text"
            formControlName="street"
            [class.invalid]="
              invoiceForm.get('street')?.invalid &&
              invoiceForm.get('street')?.touched
            "
          />
        </div>

        <div class="flex flex-wrap gap-4">
          <div class="flex-1 min-w-[100px] mb-3">
            <div class="flex justify-between items-center">
              <label
                class="text-lightSecondary mb-1 block text-sm"
                [ngClass]="{
                  'text-lightSecondary': !(isDarkMode$ | async),
                  'text-lightBg': isDarkMode$ | async,
                  'text-red-500':
                    invoiceForm.get('city')?.invalid &&
                    invoiceForm.get('city')?.touched
                }"
                for="city"
              >
                City
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  invoiceForm.get('city')?.invalid &&
                  invoiceForm.get('city')?.touched
                "
              >
                can't be empty
              </small>
            </div>
            <input
              class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
              [ngClass]="{
                'border-lightSecondary bg-lightBg text-lightText': !(
                  isDarkMode$ | async
                ),
                'border-darkText bg-darkInput text-darkSecondary':
                  isDarkMode$ | async,
                'border-red-500':
                  invoiceForm.get('city')?.invalid &&
                  invoiceForm.get('city')?.touched
              }"
              type="text"
              formControlName="city"
              [class.invalid]="
                invoiceForm.get('city')?.invalid &&
                invoiceForm.get('city')?.touched
              "
            />
          </div>

          <div class="flex-1 min-w-[100px] mb-3">
            <div class="flex justify-between items-center">
              <label
                class="text-lightSecondary mb-1 block text-sm"
                [ngClass]="{
                  'text-lightSecondary': !(isDarkMode$ | async),
                  'text-lightBg': isDarkMode$ | async,
                  'text-red-500':
                    invoiceForm.get('postCode')?.invalid &&
                    invoiceForm.get('postCode')?.touched
                }"
                for="postCode"
              >
                Post Code
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  invoiceForm.get('postCode')?.invalid &&
                  invoiceForm.get('postCode')?.touched
                "
              >
                can't be empty
              </small>
            </div>
            <input
              class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
              [ngClass]="{
                'border-lightSecondary bg-lightBg text-lightText': !(
                  isDarkMode$ | async
                ),
                'border-darkText bg-darkInput text-darkSecondary':
                  isDarkMode$ | async,
                'border-red-500':
                  invoiceForm.get('postCode')?.invalid &&
                  invoiceForm.get('postCode')?.touched
              }"
              type="text"
              formControlName="postCode"
              [class.invalid]="
                invoiceForm.get('postCode')?.invalid &&
                invoiceForm.get('postCode')?.touched
              "
            />
          </div>

          <div class="flex-1 min-w-[100px] mb-3">
            <div class="flex justify-between items-center">
              <label
                class="text-lightSecondary mb-1 block text-sm"
                [ngClass]="{
                  'text-lightSecondary': !(isDarkMode$ | async),
                  'text-lightBg': isDarkMode$ | async,
                  'text-red-500':
                    invoiceForm.get('country')?.invalid &&
                    invoiceForm.get('country')?.touched
                }"
                for="country"
              >
                Country
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  invoiceForm.get('country')?.invalid &&
                  invoiceForm.get('country')?.touched
                "
              >
                can't be empty
              </small>
            </div>
            <input
              class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
              [ngClass]="{
                'border-lightSecondary bg-lightBg text-lightText': !(
                  isDarkMode$ | async
                ),
                'border-darkText bg-darkInput text-darkSecondary':
                  isDarkMode$ | async,
                'border-red-500':
                  invoiceForm.get('country')?.invalid &&
                  invoiceForm.get('country')?.touched
              }"
              type="text"
              formControlName="country"
              [class.invalid]="
                invoiceForm.get('country')?.invalid &&
                invoiceForm.get('country')?.touched
              "
            />
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="flex flex-wrap gap-4 w-full">
          <div class="flex-1 min-w-[100px] mb-3">
            <div class="flex justify-between items-center">
              <label
                class="text-lightSecondary mb-1 block text-sm"
                [ngClass]="{
                  'text-lightSecondary': !(isDarkMode$ | async),
                  'text-lightBg': isDarkMode$ | async,
                  'text-red-500':
                    invoiceForm.get('invoiceDate')?.invalid &&
                    invoiceForm.get('invoiceDate')?.touched
                }"
                for="invoiceDate"
              >
                Invoice Date
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  invoiceForm.get('invoiceDate')?.invalid &&
                  invoiceForm.get('invoiceDate')?.touched
                "
              >
                can't be empty
              </small>
            </div>
            <input
              class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
              [ngClass]="{
                'border-lightSecondary bg-lightBg text-lightText': !(
                  isDarkMode$ | async
                ),
                'border-darkText bg-darkInput text-darkSecondary':
                  isDarkMode$ | async,
                'border-red-500':
                  invoiceForm.get('invoiceDate')?.invalid &&
                  invoiceForm.get('invoiceDate')?.touched
              }"
              type="date"
              formControlName="invoiceDate"
              [class.invalid]="
                invoiceForm.get('invoiceDate')?.invalid &&
                invoiceForm.get('invoiceDate')?.touched
              "
            />
          </div>

          <div class="flex-1 min-w-[100px] mb-3">
            <div class="flex justify-between items-center">
              <label
                class="text-lightSecondary mb-1 block text-sm"
                [ngClass]="{
                  'text-lightSecondary': !(isDarkMode$ | async),
                  'text-lightBg': isDarkMode$ | async,
                  'text-red-500':
                    invoiceForm.get('paymentTerms')?.invalid &&
                    invoiceForm.get('paymentTerms')?.touched
                }"
                for="paymentTerms"
              >
                Payment Terms
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  invoiceForm.get('paymentTerms')?.invalid &&
                  invoiceForm.get('paymentTerms')?.touched
                "
              >
                can't be empty
              </small>
            </div>
            <select
              class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
              [ngClass]="{
                'border-lightSecondary bg-lightBg text-lightText': !(
                  isDarkMode$ | async
                ),
                'border-darkText bg-darkInput text-darkSecondary':
                  isDarkMode$ | async,
                'border-red-500':
                  invoiceForm.get('paymentTerms')?.invalid &&
                  invoiceForm.get('paymentTerms')?.touched
              }"
              formControlName="paymentTerms"
              [class.invalid]="
                invoiceForm.get('paymentTerms')?.invalid &&
                invoiceForm.get('paymentTerms')?.touched
              "
            >
              <option value="net30">Net 30</option>
              <option value="net60">Net 60</option>
              <option value="net90">Net 90</option>
            </select>
          </div>

          <div class="w-full mb-3">
            <div class="flex justify-between items-center">
              <label
                class="text-lightSecondary mb-1 block text-sm"
                [ngClass]="{
                  'text-lightSecondary': !(isDarkMode$ | async),
                  'text-lightBg': isDarkMode$ | async,
                  'text-red-500':
                    invoiceForm.get('description')?.invalid &&
                    invoiceForm.get('description')?.touched
                }"
                for="description"
              >
                Project Description
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  invoiceForm.get('description')?.invalid &&
                  invoiceForm.get('description')?.touched
                "
              >
                can't be empty
              </small>
            </div>
            <input
              class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
              [ngClass]="{
                'border-lightSecondary bg-lightBg text-lightText': !(
                  isDarkMode$ | async
                ),
                'border-darkText bg-darkInput text-darkSecondary':
                  isDarkMode$ | async,
                'border-red-500':
                  invoiceForm.get('description')?.invalid &&
                  invoiceForm.get('description')?.touched
              }"
              type="text"
              placeholder="e.g. Graphic Design Service"
              formControlName="description"
              [class.invalid]="
                invoiceForm.get('description')?.invalid &&
                invoiceForm.get('description')?.touched
              "
            />
          </div>
        </div>
      </div>

      <div class="mb-8">
        <h3
          class="text-xl font-semibold mb-4"
          *ngIf="items.controls.length > 0"
          [ngClass]="{
            'text-lightAccent': !(isDarkMode$ | async),
            'text-darkAccent': isDarkMode$ | async
          }"
        >
          Item List
        </h3>

        <div formArrayName="items" *ngIf="items.controls.length > 0">
          <div
            class="flex flex-wrap gap-4 items-end"
            *ngFor="let item of items.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="flex-1 min-w-[100px] mb-3">
              <label
                class="text-lightSecondary mb-3 block text-sm"
                [ngClass]="{
                  'text-lightSecondary': !(isDarkMode$ | async),
                  'text-lightBg': isDarkMode$ | async,
                  'text-red-500':
                    item.get('itemName')?.invalid &&
                    item.get('itemName')?.touched
                }"
                for="itemName"
              >
                Item Name
              </label>
              <small
                class="error text-red-500"
                *ngIf="
                  item.get('itemName')?.invalid && item.get('itemName')?.touched
                "
              >
                can't be empty
              </small>
              <input
                class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
                [ngClass]="{
                  'border-lightSecondary bg-lightBg text-lightText': !(
                    isDarkMode$ | async
                  ),
                  'border-darkText bg-darkInput text-darkSecondary':
                    isDarkMode$ | async,
                  'border-red-500':
                    item.get('itemName')?.invalid &&
                    item.get('itemName')?.touched
                }"
                type="text"
                formControlName="itemName"
                [class.invalid]="
                  item.get('itemName')?.invalid && item.get('itemName')?.touched
                "
              />
            </div>

            <div class="flex-1 min-w-[100px] mb-3">
              <label
                class="text-lightSecondary mb-3 block text-sm"
                [ngClass]="{
                  'text-lightSecondary': !(isDarkMode$ | async),
                  'text-lightText': isDarkMode$ | async,
                  'text-red-500':
                    item.get('qty')?.invalid && item.get('qty')?.touched
                }"
                for="qty"
              >
                Qty
              </label>
              <small
                class="error text-red-500"
                *ngIf="item.get('qty')?.invalid && item.get('qty')?.touched"
              >
                can't be empty
              </small>
              <input
                class="w-[60%] p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
                [ngClass]="{
                  'border-lightSecondary bg-lightBg text-lightText': !(
                    isDarkMode$ | async
                  ),
                  'border-darkText bg-darkInput text-darkSecondary':
                    isDarkMode$ | async,
                  'border-red-500':
                    item.get('qty')?.invalid && item.get('qty')?.touched
                }"
                type="number"
                formControlName="qty"
                [class.invalid]="
                  item.get('qty')?.invalid && item.get('qty')?.touched
                "
              />
            </div>

            <div class="flex-1 min-w-[100px] mb-3">
              <label
                class="text-lightSecondary mb-3 block text-sm"
                [ngClass]="{
                  'text-lightSecondary': !(isDarkMode$ | async),
                  'text-lightBg': isDarkMode$ | async,
                  'text-red-500':
                    item.get('price')?.invalid && item.get('price')?.touched
                }"
                for="price"
              >
                Price
              </label>
              <small
                class="error text-red-500"
                *ngIf="item.get('price')?.invalid && item.get('price')?.touched"
              >
                can't be empty
              </small>
              <input
                class="w-full p-2 rounded-md border bg-lightBg text-sm font-bold focus:border-lightAccent focus:outline-none transition duration-400"
                [ngClass]="{
                  'border-lightSecondary bg-lightBg text-lightText': !(
                    isDarkMode$ | async
                  ),
                  'border-darkText bg-darkInput text-darkSecondary':
                    isDarkMode$ | async,
                  'border-red-500':
                    item.get('price')?.invalid && item.get('price')?.touched
                }"
                type="number"
                formControlName="price"
                [class.invalid]="
                  item.get('price')?.invalid && item.get('price')?.touched
                "
              />
            </div>

            <div class="flex flex-1 items-center min-w-[100px] mb-3">
              <div class="flex-grow">
                <label
                  class="text-lightSecondary mb-3 block text-sm"
                  [ngClass]="{
                    'text-lightSecondary': !(isDarkMode$ | async),
                    'text-lightBg': isDarkMode$ | async
                  }"
                  for="total"
                >
                  Total
                </label>
                <div
                  class="w-full p-2 rounded-md border-none bg-none text-sm font-bold focus:outline-none transition duration-400"
                  [ngClass]="{
                    'text-lightText': !(isDarkMode$ | async),
                    'bg-none text-darkSecondary': isDarkMode$ | async
                  }"
                >
                  {{ item.get("total")?.value }}
                </div>
              </div>

              <img
                src="assets/icon-delete.svg"
                alt="Delete Item"
                class="w-5 h-5 cursor-pointer"
                (click)="removeItem(i)"
              />
            </div>
          </div>
        </div>

        <button
          type="button"
          class="py-2 px-4 rounded-full transition duration-300 w-full"
          [ngClass]="{
            'bg-[#DFE3FA] text-lightSecondary hover:bg-black': !(
              isDarkMode$ | async
            ),
            'bg-darkInput text-lightBg hover:bg-black': isDarkMode$ | async
          }"
          (click)="addItem()"
        >
          + Add New Item
        </button>
      </div>
    </form>

    <div
      class="flex justify-between gap-4 mt-4 shadow-lg p-3 rounded-lg"
      [ngClass]="{
        'bg-lightBg': !(isDarkMode$ | async),
        'bg-darkPrimary': isDarkMode$ | async
      }"
    >
      <button
        *ngIf="isEditMode"
        (click)="formClose.emit()"
        class="py-3 px-6 rounded-full hover:bg-opacity-75 transition duration-300"
        [ngClass]="{
          'bg-[#F9FAFE] text-lightAccent': !(isDarkMode$ | async),
          'bg-darkSecondary text-darkText': isDarkMode$ | async
        }"
      >
        Cancel
      </button>

      <button
        *ngIf="isEditMode"
        (click)="onSubmit()"
        class="py-2 px-4 rounded-full hover:bg-opacity-75 transition duration-300"
        [ngClass]="{
          'bg-[#7C5DFA] text-lightBg': !(isDarkMode$ | async),
          'bg-darkAccent text-darkText': isDarkMode$ | async
        }"
      >
        Save Changes
      </button>

      <ng-container *ngIf="!isEditMode">
        <button
          (click)="formClose.emit()"
          class="py-3 px-6 rounded-full hover:bg-opacity-75 transition duration-300"
          [ngClass]="{
            'bg-[#F9FAFE] text-lightAccent': !(isDarkMode$ | async),
            'bg-darkSecondary text-darkText': isDarkMode$ | async
          }"
        >
          Discard
        </button>

        <button
          (click)="onSaveAsDraft()"
          class="py-2 px-4 rounded-full hover:bg-opacity-75 transition duration-300"
          [ngClass]="{
            'bg-lightText text-lightSecondary': !(isDarkMode$ | async),
            'bg-darkText text-darkSecondary': isDarkMode$ | async
          }"
        >
          Save as Draft
        </button>

        <button
          (click)="onSubmit()"
          class="py-2 px-4 rounded-full hover:bg-opacity-75 transition duration-300"
          [ngClass]="{
            'bg-[#7C5DFA] text-lightBg': !(isDarkMode$ | async),
            'bg-darkAccent text-darkText': isDarkMode$ | async
          }"
        >
          Save & Send
        </button>
      </ng-container>
    </div>
  </div>
</div>
